{% extends "layout.html" %}

{% block body %}
  
  <h2>Welcome to the Semantic Hashtag (and Microblog) Retrieval System!</h2>

The system has been built primarily using Whoosh, and Flask. (Go Open Source!)
</br>The problem that this system aims at solving is retrieval of hashtags relevant to a user query Q. The system also returns tweets most relevant to a user query. Go ahead, and give it a try! Need some inspiration? Here are some sample queries to try -

<ul>
       <li>Rock Concerts</li>
       <li>Dark Beers</li>
       <li>Red Wine</li>
       <li>Sports Leagues</li>
       <li>Fast Food</li>
       <li>Apple developer conference</li>
</ul>

<strong>NOTES: 
</strong>
<ul>
<li>Some queries may have little or no results, as the representation of those query keywords (or semantic concepts) in our index is relatively small(or non-existant) due to dataset limitations. Hence, We're always in the process of adding more tweets to our index!</li>
<li>The microblog and hashtag retrieval is being done by the best performing retrieval approach - KLDivergenceRank for this system. This was decided after detailed experimentation, as written in the paper.</li>
<li>We also present the same interface that was used for evaluations (right now, shows results for KLDivergenceRank retrieval technique); Note that the search results are anonymised, and randomised to prevent cognitive bias.</li>
</ul>
{% endblock %}
